body {
    margin: 0;
}

span {
    font-weight: bolder;
}

header {
    background-color: black;
    color: white;
    text-align: center;
    margin: 0;
    padding: 30px;
}

header p {
    padding: 0;
}

h1 {
    margin-top: 0;
}

main p {
    font-family: "Comic Sans MS";
    font-style: italic;
    font-weight: 500;
    font-size: 1.5em;
    line-height: 2em;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 30px;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    margin: 0;
}

footer p {
    margin: 0;
    padding: 10px;
}